body{
	background-image: url(images/skyline4.jpg);
	background-size: 100%;
	font-family: helvetica;
}
.kader{
	background-color: peru;
	width: 55%;
  margin: 5em auto;
  padding: 1.3em;
  opacity: 0.90;
}
.images{
  z-index: 999;
  opacity: none;
}
h1{
	font-size: 2em;
  margin-bottom: 0.8em;
  font-weight: bold;
  text-align: right;
}
nav{
	font-size: 1.3em;
  margin-bottom: 0.8em;
  text-align: right;
}
nav a{
	text-decoration: none;
	color: cadetblue;
}
nav a:hover{
	color: orange;
}
p{
  line-height: 1.3em;
  margin-bottom: 1em;
  padding: 5px;
  clear: both;
}
img{
	max-width: 25%;
	
}


@media (max-width: 650px) {
  
  .kader {
    width: 85%;
    margin: 2em auto;
  }
  h1{
  	text-align: left;
  }
  nav{
  	text-align: left;
  }
  body{
    background-image: fill;
  }